/* CSS BY Clinton Keller */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS" */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    min-width: 400px;
    font-family: "Inter", sans-serif;
}

nav h2,
footer h2 {
    display: none;
}

h1 {
    font-size: 1.8em;
    position: relative;
    padding-left: 4rem;
    color: var(--blue);
    font-weight: 700;
}

/* Floating SVG logo before heading */
h1::before {
    content: "";
    position: absolute;
    left: -0.5rem;
    top: -0.8rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: 700;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5;
}

a,
button {
    cursor: pointer;
}

h2,
h3,
p,
#services,
footer li {
    animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header section */
header {
    background-color: var(--black);
    color: var(--white);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

/* Nav section */
nav {
    text-align: right;
    position: relative;
}

nav ul {
    position: absolute;
    right: 0px;
    margin: 10px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    max-height: 0;
    background-color: var(--black);
}

nav li {
    transition: background-color .3s ease-in;
}

nav li a {
    display: block;
    font-family: sans-serif;
    font-size: 1.1rem;
    padding: 1.1rem 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
    transition: background-color .3s ease-in;
}

nav li:hover,
nav input:hover {
    background-color: var(--blue);
    color: var(--black);
}

nav li a:hover {
    color: var(--black);
}

nav label {
    display: inline-block;
    padding: 1rem;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

/* Hamburger menu icon (middle line) */
label span {
    background-color: white;
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}

/* Hamburger icon top and bottom lines */
label span:before,
label span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: .75rem;
}

label span:after {
    top: -.75rem;
}

nav input {
    display: none;
}

/* Add height to nav when toggled */
nav input:checked~ul {
    max-height: 500px;
}

/* Remove hamburger middle line */
nav input:checked~label span {
    background: transparent;
}

/* Transform hamburger into "X" */

/* Rotate top line of hamburger */
nav input:checked~label span:before {
    transform: rotate(-45deg);
}

/* Rotate bottom line of hamburger */
nav input:checked~label span:after {
    transform: rotate(45deg);
}

/* Location of the hamburger */
nav input:checked~label:not(.steps) span:before,
nav input:checked~label:not(.steps) span:after {
    top: 0;
}

/* Content container wrapper (constrains width) */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Hero section background and layout (Photo by Kevin Matos on Unsplash) */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    color: white;
    margin: 0;
}

#hero .container {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
}

#hero a {
    text-decoration: none;
    padding: 15px 15px 16px;
    background: var(--blue);
    border: none;
    border-radius: 8px;
    font-size: 1em;
    color: var(--white);
}

/* Hero link and contact button */
#hero a,
#contact button {
    line-height: 1;
    display: inline-block;
    animation: fadeInDown 1s ease;
    font-weight: 700;
    transition: transform 0.3s ease;
}


#hero a:hover,
#contact button:hover {
    background-color: var(--red);
    transform: scale(1.05);
}

/* Main section */
main>section {
    margin: 30px auto;
}

/* Services section */
#services {
    padding-bottom: 5px;
}

#services .container>section {
    background-color: var(--blue);
    color: var(--white);
    padding: 35px 20px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin: 10px auto;
}

#services .container>section:hover {
    transform: translateY(-5px);
}

/* Results section */
#results {
    background-color: var(--blue);
    padding: 30px 0;
    color: var(--white);
    margin-bottom: 0px;
}

#results .container section {
    margin: 20px 0;
}

#results h3 {
    font-size: 1.8rem;
}

/* Profits section */
#results .container>section>table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

#results .container>section>table th,
#results .container>section>table td {
    padding: 1rem;
    border: 1px solid var(--charcoal);
}

#results .container>section>table thead th {
    font-weight: bold;
    background-color: var(--black);
}

#results .container>section>table tbody tr:nth-child(even) {
    background-color: var(--charcoal);
}

#results .container>section>table tbody tr:nth-child(odd) {
    background-color: var(--black);
}

/* Bar chart section */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}

/* Bar chart transition */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 1s ease-in-out;
    height: 0;
}

.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}

@keyframes stepUp {
    0% {
        height: 0;
    }

    100% {
        height: var(--height);
    }
}

/* Bar chart animation */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

/* Contact section */
#contact {
    background-color: black;
    color: var(--white);
    margin: 0px;
    padding: 30px 0;
}

form {
    margin: 20px auto;
}

form div {
    margin: 20px 0;
}

form label,
form input,
form textarea {
    display: block;
    width: 100%;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    outline: none;
}

form input:focus,
form textarea:focus {
    border-color: var(--charcoal);
}

form input:focus:invalid,
form textarea:focus:invalid {
    border-color: var(--red);
}

form button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: var(--blue);
    border: none;
    border-radius: 8px;
    font-size: 1em;
    color: var(--white);
}

/* Footer section */
footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 10px 0 30px;
}

footer p,
footer li {
    margin: 10px;
    line-height: 1;
}

footer ul li:nth-of-type(1) a {
    color: var(--blue);
}

footer ul li:nth-of-type(2) a {
    text-decoration: none;
    color: var(--white);
}


/* MEDIA QUERY (medium) */
@media screen and (min-width: 800px) {
    header .container {
        padding: 10px;
    }

    nav label {
        display: none;
    }

    nav ul {
        overflow: visible;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        max-height: 100%;
    }

    nav li a {
        display: inline-block;
    }

    nav label span,
    nav input {
        display: none;
    }

    #services .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    #services .container>h2 {
        grid-column: 1 / -1;
    }

    #services .container>section {
        margin: 0;
    }

    #results .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 20px;
    }

    #results .container h2,
    #results .container p {
        margin: 0;
        grid-column: 1 / -1;
    }

    .results-table {
        width: 50%;
    }

    .bar-chart {
        width: 50%;
    }

    #results #bar-chart {
        padding-bottom: 40px;
        box-sizing: border-box;
    }

    #results .container section:nth-of-type(1) {
        margin-right: 20px;
    }
}


/* MEDIA QUERY (large) */
@media screen and (min-width: 1024px) {
    #services .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #services .container>h2 {
        grid-column: 1 / -1;
    }

    #results .container section {
        margin: 0;
        padding: 0;
    }

    #contact .container button {
        padding: 0;
    }

    #contact .container form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #contact .container h2,
    #contact .container p {
        grid-column: 1 / -1;
    }

    #contact .container form div {
        margin: 0;
    }

    #contact .container button {
        height: 50px;

    }

}